<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gratitude -Online Shopping</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

    <script src="~/Content/alertify.js-0.3.11/alertify.js-0.3.11/lib/alertify.min.js"></script>
    <link href="~/Content/alertify.js-0.3.11/alertify.js-0.3.11/themes/alertify.default.css" rel="stylesheet" />
    <link href="~/Content/alertify.js-0.3.11/alertify.js-0.3.11/themes/alertify.core.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gratitude", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Products List", "Index", "Product")</li>

                    <li>@Html.ActionLink("Category List", "Index", "Category")</li>
                    <li>@Html.ActionLink("Cart(" + Session["CartCounter"] + ")", "Index", "Cart")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Users List", "UserDetails", "User")</li>
                        }

                        <li><a>Hello @User.Identity.Name</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }

                    else
                    {
                        <li>@Html.ActionLink("Register", "Signup", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }

                </ul>
            
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
