<!--<!--@model OnlineShopping.ViewModel.CheckoutViewModel

@{
    ViewBag.Title = "Checkout2";
}
<h1>Your Cart</h1>
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Product Name")
                </th>
                <th>
                    @Html.Label("Product Description")
                </th>
                <th>
                    @Html.Label("Product Price")
                </th>
                <th>
                    @Html.Label("Quantity")
                </th>
                <th>
                    @Html.Label("Total Price")
                </th>
            </tr>

            @foreach (var item in @Model.CartProducts)
            {
                var quantity = Model.CartProductIDs.Where(x => x == item.ProductId).Count();
        <tr>
            <td>
                @Html.DisplayFor(model => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                <div>
                    <button type="button" class="subBtn">-</button>
                    <input type="text" data-id="productQty" class="qty" value="@quantity" min="1"/>
                    <button type="button" class="addBtn">+</button>
                </div>
                
            </td>
            <td>
                <input id="totalPrice" value="@(quantity*item.Price)" readonly="readonly" />
            </td>-->-->
            <!--@*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@-->
        <!--</tr>
            }

        </table>
<div>
    <button id="checkoutBtn" class="btn-primary">Checkout</button>
</div>
<script>

    $(document).ready(function () {
        var newQty;
        $(".subBtn").click(function () {
            debugger;
            newQty = $(".qty").val() - 1;
            $(".qty").val(newQty);
        });
        
    })
</script>-->
    