@model IEnumerable<OnlineShopping.DomainLayer.OrderDetail>

@{
    ViewBag.Title = "YourOrderDetails";
}

<h2>Your Order Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Order.Status == "Pending")
                {
                    <p>Under Processing</p>
                }
                else if (item.Order.Status == "Approved")
                {
                    <p>Ready for dispatch</p>
                }
                else
                {
                    <p>Arriving soon</p>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @if (item.Order.Status == "Pending" || item.Order.Status == "Approved")
                {
                    @Html.ActionLink("Cancel Order", "CancelOrder", new { id = item.OrderId })
                }


            </td>
        </tr>
    }

</table>
@Html.ActionLink("Your Orders", "YourOrders", new { username = Session["uname"] })