@model IEnumerable<OnlineShopping.ViewModel.UserViewModel>

@{
    ViewBag.Title = "UserDetails";
}

<h2 style="text-align:center">User Details</h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
   
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role.RoleName)
    </td>
    @if (User.IsInRole("Admin"))
    {
        <td>
            <button class="editBtn" data-id="@item.UserId" ><span class="glyphicon glyphicon-edit"></span> Edit</button> 

            @*<button class="deleteBtn" type="button" data-id="@item.UserId"><span class="glyphicon glyphicon-remove"></span> Delete</button>*@
        </td>
    }

</tr>
    }

</table>
<div id="actionContainer">

</div>

<script>
    //$(".deleteBtn").click(function () {

    //    var confirmDelete = confirm("Are you sure to delete the selected user?");
    //    if (confirmDelete) {
    //        $.ajax({
    //            type: 'POST',
    //            url: '/User/Delete',
    //            data: {
    //                userId: $(this).attr('data-id')
    //            }
    //        })
    //            .done(function () {
    //                $(document).ajaxStop(function () {
    //                    window.location.reload();
    //                });

    //            })
    //            .fail(function () {
    //                alert("Failed to delete the user!");
    //            })
    //    }

    //});

    $(".editBtn").click(function () {

        $.ajax({
            url: '/User/Edit',
            data: {
                userId: $(this).attr('data-id')
            }
        })
            .done(function (data) {
                $("#actionContainer").html(data);
                //focusAction("actionContainer");
            })
            .fail(function (/*XMLHttpRequest, textStatus, errorThrown*/) {
                alert("Failed!");
            })
    });

    //function focusAction(controlToFocus) {
    //    $('html, body').animate({
    //        scrollTop: $("#" + controlToFocus).offset().top - 100
    //    }, 1000);
    //}
</script>
